<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Photo Gallery</h1>

  <hr class="mt-2 mb-5">
  <%=link_to "Add a Photo", new_photo_path, class:"btn btn-primary"%>
  <div class="row text-center text-lg-left">
    <% @photos.each do |photo| %>
        <div class="col-lg-3 col-md-4 col-6">
          <figure class="figure">  
            <%= link_to image_tag("#{photo.url}", class:"img-fluid img-thumbnail", alt:""), user_photo_path(photo.user, photo), class:"d-block mb-4 h-100" %>
            <figcaption class="figure-caption"><%= photo.restaurant.name %></figcaption>
          </figure>
        </div>
    <% end %>
  </div>

</div>